extends layout

block head
	meta(name='google', content='notranslate')
	meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
	if showWeather
		script(type='text/javascript', src='js/weather/WeatherWidget.js')
		script(type='text/javascript', src='js/weather/weather.js')
	script(type='text/javascript', src='update.js')
	script(type='text/javascript', src='config/settings.js')
	link(href='/themes/' + theme + '/css/style.css', type='text/css', rel='stylesheet')

block content
	if showWeather
		#weather
			h1
				span.error#weatherError ⚠
				| #{weather_title}
				span#lastWeatherUpdate
			#forecast
				#current(class="weatherBlock")
					object#currentIcon(class="currentIcon", type='image/svg+xml', data='/themes/' + theme + '/img/weather.svg')
					hr(class="weatherHR")
					div#currentTime now
					div#currentTemperature
				each val in [0,1,2,3,4,5]
					div(class="weatherBlock")
						object#forecastIcon(class="forecastIcon", type='image/svg+xml', data='/themes/' + theme + '/img/weather.svg')
						hr(class="weatherHR")
						div(class="forecastTime")
						div(class="forecastTemperature")
	#container
		h1
			span.error#trafficError ⚠
			| #{title}
			span#currentTime
	#error
		h2 Oh noes, something broke!
		p Sorry, Öffimonitor will be back soon.
