[Unit]
After=systemd-user-sessions.service

[Service]
User=pi
ExecStartPre=-/bin/rm -r /dev/shm/chrome-profile /dev/shm/chrome-cache
ExecStart=/usr/bin/startx -- -nocursor
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
